{% extends 'noteApp/base.html' %}
{% load static %}


 
{% block content %}

<span class="createNoteLink"><h1 id="myNotes">My Notes ({{notes_num}}) </h1></span>
<span class="createNoteLink"><a href="{% url 'createNote' %}"><h1> + </h1></a></span>
<div style="clear: both;">
    {% for note in notes %}

        <div class="card">
            <div class="card-header {{note.color}}"><a id="noteHeader" href="{% url 'editNote' note.id %}"><h4>{{note.title}}</h4></a>
                <a href="{% url 'deleteNote' note.id %}"><img id="deleteImg" src="{% static '/images/trash.png' %}"></a></div>
            <div class="card-body">
                <p class="card-text">{{note.description}}</p>
            </div>
            <hr>
            <div>
                <p id="dateText">{{note.date_created}}</p>
            </div>
        </div>    
    {% endfor %}
</div>

{% endblock %}